@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: theme('colors.background'); /* Use background from Tailwind config */
    color: theme('colors.text'); /* Use text from Tailwind config */
}
